.ba-header {
	background: #333 url(../img/psp-hero-itunes.image.large_2x.jpg) 50%;
	background-size: cover;
	color: #fff;
	padding: 40px 20px 60px;

	img {
		max-width: 150px;
	}
}

.ba-search-form {
	display: flex;
	min-width: 500px;
	margin: 40px auto;

	.input-field {
		margin-bottom: 0;
		flex-grow: 1;
		margin-right: 15px;
	}
}

.ba-tunes-list {
	margin-top: 30px;
	display:flex;
	flex-wrap: wrap;
}

.ba-tune-card {
	height: calc(100% - 20px);
	.card-image {
		.card-title{
		margin: 0;
		width: 100%;
		background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
		}
		button{
			i{
				pointer-events: none;
			}
		}
	}

	.card-content {
		.card-title {
			margin-top: 0;
		}
		.badge{
			display: inline-flex;
			align-items: center;

			i{
				margin-right: 5px;
			}
		}
	}
}
.page-footer{
	padding-top: 0;
}